In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)

In [6]:
inspector = inspect(engine)

In [7]:
inspector.get_table_names()

['measurement', 'station']

In [8]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [9]:
engine.execute('SELECT * FROM station LIMIT 5').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [11]:
# Declare a Base using `automap_base()`
Base = automap_base()
Base.prepare(engine, reflect=True)
measurement = Base.classes.measurement

In [12]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['measurement', 'station']

In [18]:
inspector = inspect(engine)
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [28]:
sel = [measurement.date, measurement.prcp]
test = session.query(*sel).\
    filter(measurement.date > '2016-12-31').\
    group_by(measurement.date).\
    order_by(measurement.date).all()
test

[('2017-01-01', 0.0),
 ('2017-01-02', 0.0),
 ('2017-01-03', 0.0),
 ('2017-01-04', 0.0),
 ('2017-01-05', 0.0),
 ('2017-01-06', 0.0),
 ('2017-01-07', 0.0),
 ('2017-01-08', 0.0),
 ('2017-01-09', 0.0),
 ('2017-01-10', 0.0),
 ('2017-01-11', 0.0),
 ('2017-01-12', 0.0),
 ('2017-01-13', 0.0),
 ('2017-01-14', 0.0),
 ('2017-01-15', 0.0),
 ('2017-01-16', 0.0),
 ('2017-01-17', 0.0),
 ('2017-01-18', 0.0),
 ('2017-01-19', 0.0),
 ('2017-01-20', 0.0),
 ('2017-01-21', 0.0),
 ('2017-01-22', 0.16),
 ('2017-01-23', 0.0),
 ('2017-01-24', 0.04),
 ('2017-01-25', 0.03),
 ('2017-01-26', 0.0),
 ('2017-01-27', 0.0),
 ('2017-01-28', 0.0),
 ('2017-01-29', 0.18),
 ('2017-01-30', 0.0),
 ('2017-01-31', 0.0),
 ('2017-02-01', 0.0),
 ('2017-02-02', 0.0),
 ('2017-02-03', 0.0),
 ('2017-02-04', 0.0),
 ('2017-02-05', 0.0),
 ('2017-02-06', 0.0),
 ('2017-02-07', 0.51),
 ('2017-02-08', 0.0),
 ('2017-02-09', 0.0),
 ('2017-02-10', 0.0),
 ('2017-02-11', 0.31),
 ('2017-02-12', 2.62),
 ('2017-02-13', 0.01),
 ('2017-02-14', 0.0),
 ('2017-02-15', 0.0),
 ('2017-02-16', 0.07),
 ('2017-02-17', 0.0),
 ('2017-02-18', 0.0),
 ('2017-02-19', 0.0),
 ('2017-02-20', 0.0),
 ('2017-02-21', 0.06),
 ('2017-02-22', 0.06),
 ('2017-02-23', 0.01),
 ('2017-02-24', 0.0),
 ('2017-02-25', 0.03),
 ('2017-02-26', 0.0),
 ('2017-02-27', 0.0),
 ('2017-02-28', 0.0),
 ('2017-03-01', 1.19),
 ('2017-03-02', 0.73),
 ('2017-03-03', 0.47),
 ('2017-03-04', 0.0),
 ('2017-03-05', 0.35),
 ('2017-03-06', 0.0),
 ('2017-03-07', 0.0),
 ('2017-03-08', 0.0),
 ('2017-03-09', 0.0),
 ('2017-03-10', 0.0),
 ('2017-03-11', 0.0),
 ('2017-03-12', 0.0),
 ('2017-03-13', 0.0),
 ('2017-03-14', 0.0),
 ('2017-03-15', 0.0),
 ('2017-03-16', 0.0),
 ('2017-03-17', 0.0),
 ('2017-03-18', 0.0),
 ('2017-03-19', 0.0),
 ('2017-03-20', 0.0),
 ('2017-03-21', 0.0),
 ('2017-03-22', 0.0),
 ('2017-03-23', 0.0),
 ('2017-03-24', 0.02),
 ('2017-03-25', 0.0),
 ('2017-03-26', 0.0),
 ('2017-03-27', 0.0),
 ('2017-03-28', 0.0),
 ('2017-03-29', 0.0),
 ('2017-03-30', 0.0),
 ('2017-03-31', 0.0),
 ('2017-04-01', 0.0),
 ('2017-04-02', 0.0),
 ('2017-04-03', 0.0),
 ('2017-04-04', 0.0),
 ('2017-04-05', 0.0),
 ('2017-04-06', 0.0),
 ('2017-04-07', 0.0),
 ('2017-04-08', 0.0),
 ('2017-04-09', 0.0),
 ('2017-04-10', 0.0),
 ('2017-04-11', 0.0),
 ('2017-04-12', 0.0),
 ('2017-04-13', 0.0),
 ('2017-04-14', 0.26),
 ('2017-04-15', 0.01),
 ('2017-04-16', 0.0),
 ('2017-04-17', 0.02),
 ('2017-04-18', 0.0),
 ('2017-04-19', 0.02),
 ('2017-04-20', 0.05),
 ('2017-04-21', 0.23),
 ('2017-04-22', 0.32),
 ('2017-04-23', 0.03),
 ('2017-04-24', 0.0),
 ('2017-04-25', 0.0),
 ('2017-04-26', 0.0),
 ('2017-04-27', 0.0),
 ('2017-04-28', 0.0),
 ('2017-04-29', 0.12),
 ('2017-04-30', 0.89),
 ('2017-05-01', 0.26),
 ('2017-05-02', 0.0),
 ('2017-05-03', 0.0),
 ('2017-05-04', 0.0),
 ('2017-05-05', 0.0),
 ('2017-05-06', 0.0),
 ('2017-05-07', 0.0),
 ('2017-05-08', 0.0),
 ('2017-05-09', 1.62),
 ('2017-05-10', 0.0),
 ('2017-05-11', 0.01),
 ('2017-05-12', 0.0),
 ('2017-05-13', 0.0),
 ('2017-05-14', 0.0),
 ('2017-05-15', 0.05),
 ('2017-05-16', 0.01),
 ('2017-05-17', 0.0),
 ('2017-05-18', 0.01),
 ('2017-05-19', 0.0),
 ('2017-05-20', 0.0),
 ('2017-05-21', 0.0),
 ('2017-05-22', 0.0),
 ('2017-05-23', 0.08),
 ('2017-05-24', 0.13),
 ('2017-05-25', 0.15),
 ('2017-05-26', 0.02),
 ('2017-05-27', 0.01),
 ('2017-05-28', 0.02),
 ('2017-05-29', 0.0),
 ('2017-05-30', 0.26),
 ('2017-05-31', 0.02),
 ('2017-06-01', 0.0),
 ('2017-06-02', 0.0),
 ('2017-06-03', 0.02),
 ('2017-06-04', 0.0),
 ('2017-06-05', 0.0),
 ('2017-06-06', 0.0),
 ('2017-06-07', 0.0),
 ('2017-06-08', 0.0),
 ('2017-06-09', 0.0),
 ('2017-06-10', 0.04),
 ('2017-06-11', 0.08),
 ('2017-06-12', 0.02),
 ('2017-06-13', 0.0),
 ('2017-06-14', 0.0),
 ('2017-06-15', 0.0),
 ('2017-06-16', 0.0),
 ('2017-06-17', 0.0),
 ('2017-06-18', 0.05),
 ('2017-06-19', 0.0),
 ('2017-06-20', 0.02),
 ('2017-06-21', 0.0),
 ('2017-06-22', 0.0),
 ('2017-06-23', 0.0),
 ('2017-06-24', 0.06),
 ('2017-06-25', 0.0),
 ('2017-06-26', 0.0),
 ('2017-06-27', 0.0),
 ('2017-06-28', 0.0),
 ('2017-06-29', 0.0),
 ('2017-06-30', 0.08),
 ('2017-07-01', 0.02),
 ('2017-07-02', 0.02),
 ('2017-07-03', 0.04),
 ('2017-07-04', 0.04),
 ('2017-07-05', 0.0),
 ('2017-07-06', 0.0),
 ('2017-07-07', 0.0),
 ('2017-07-08', 0.0),
 ('2017-07-09', 0.0),
 ('2017-07-10', 0.0),
 ('2017-07-11', 0.0),
 ('2017-07-12', 0.0),
 ('2017-07-13', 0.07),
 ('2017-07-14', 0.02),
 ('2017-07-15', 0.0),
 ('2017-07-16', 0.02),
 ('2017-07-17', 0.03),
 ('2017-07-18', 0.05),
 ('2017-07-19', 0.0),
 ('2017-07-20', 0.03),
 ('2017-07-21', 0.0),
 ('2017-07-22', 0.03),
 ('2017-07-23', 0.0),
 ('2017-07-24', 0.05),
 ('2017-07-25', 0.0),
 ('2017-07-26', 0.0),
 ('2017-07-27', 0.0),
 ('2017-07-28', 0.0),
 ('2017-07-29', 0.0),
 ('2017-07-30', 0.0),
 ('2017-07-31', 0.0),
 ('2017-08-01', 0.02),
 ('2017-08-02', 0.0),
 ('2017-08-03', 0.0),
 ('2017-08-04', 0.02),
 ('2017-08-05', 0.0),
 ('2017-08-06', 0.0),
 ('2017-08-07', 0.0),
 ('2017-08-08', 0.0),
 ('2017-08-09', 0.0),
 ('2017-08-10', 0.0),
 ('2017-08-11', 0.0),
 ('2017-08-12', 0.0),
 ('2017-08-13', 0.0),
 ('2017-08-14', 0.0),
 ('2017-08-15', 0.02),
 ('2017-08-16', 0.0),
 ('2017-08-17', 0.0),
 ('2017-08-18', 0.0),
 ('2017-08-19', 0.0),
 ('2017-08-20', 0.0),
 ('2017-08-21', 0.0),
 ('2017-08-22', 0.0),
 ('2017-08-23', 0.0)]

In [32]:
df = pd.DataFrame(test, columns=['date', 'prcp'])
df.set_index('date')

            prcp
date
2017-01-01   0.0
2017-01-02   0.0
2017-01-03   0.0
2017-01-04   0.0
2017-01-05   0.0
...          ...
2017-08-19   0.0
2017-08-20   0.0
2017-08-21   0.0
2017-08-22   0.0
2017-08-23   0.0

[235 rows x 1 columns]

In [14]:
# Start Date: July 1, 2010 End Date: July 10, 2010

In [15]:
inspector = inspect(engine)
columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [16]:
session = Session(engine)

In [17]:
# Assign the station class to a variable called `station`
Station = Base.classes.station

In [ ]:
# reflect an existing database into a new model

# reflect the tables

In [ ]:
# We can view all of the classes that automap found

In [ ]:
# Save references to each table

In [ ]:
# Create our session (link) from Python to the DB

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`